player-connection-mode=Listen
player-connection-guid=3669526035
player-connection-debug=0
player-connection-project-name=memory_palace_2
player-connection-ip=169.254.151.160
player-connection-ip=192.168.0.204
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=d231643873304d8c9fc823a0b44cf197
